body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}
.pagina{
    padding: 50px 30px 50px 80px;
}
.poesia{
    padding: 25px 15px 25px ;
    background:yellowgreen;
}



.gatos{
    padding: 25px 15px 25px ;
    width: 50%;
    text-align: center;
    }
    #gato1{
        background:grey ;
        }
        #gato3{
            background:grey ;
            }


.titulo_rojo {
    color: red;
                }
                
.titulo_azul {
    color: blue;
    }
                
#nombre_alumno {
    color: red;
    text-decoration: underline;
    }

.titulo{color: rgb(32, 167, 185);
    font-size: 30px;
    font-style: italic;
}
.texto{color: rgb(10, 10, 97);
    font-size: 15px;
}
.destacado{
    font-weight: bold;
}

.tercio{
    width: 33%;
    height: 800px;
    display: inline;
}
.cercle{
    margin: auto;
    background: blue;
    font-size: 50px;
    color: aliceblue;
    text-align: center;	
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 5px, 5px, 5px,5px;
    display: inline-block;
    line-height: 180px;
}


.contenedortop{
    height: 100px;
    width: 100%;
    background-color:blue;
    position:fixed;
    top:0px;
}

.contenido{
    height: 100px;
    width: 100%;
    position:relative;
    top:100px;
}

.contenedorbottom{
    height: 100px;
    width: 100%;
    background-color: red;
    position:fixed;
    bottom:0px;
}

h1.menu{
    text-align: center;
    color: white;
}

/* EJERCICIO5*/
/*
.estructura{
    margin: auto;
}*/

#iconoright{
    margin-left: 500px;
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: red;
    color: white;
    padding: 25px;
}

#iconodown{
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: green;
    color: white;
    padding: 25px;
}

#iconoup{
    margin-top: 4px;
    margin-left: 500px;
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: blue;
    color: white;
    padding: 25px;
}

#iconoleft{
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: black;
    color: white;
    padding: 25px;
}

div.fotillo{
    padding:1px;
    border: solid black 1px;
    line-height: 1px;
}